# macOS
.DS_Store
.AppleDouble
.LSOverride
*.swp
._*

# PowerPoint 临时文件
~$*.pptx
~$*.ppt
~$*.xlsx
~$*.docx
test.pptx
*.pptx
*.ppt
*.xlsx
*.docx

# 证书 / key
certs/
*.pem
*.crt
*.key

# 打包 / 分发
*.zip
dist/

# 编辑器 / IDE
.vscode/
.idea/
*.iml

# Node
node_modules/
npm-debug.log*

# 备份
*.bak.*
*~
